<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<!-- 아래의 두개의 서블릿이 공통으로 사용할 어플리케이션 컨텍스트를 정의하자!! 그리고 이 객체는 아래의 두 서블릿보다는 빠른 
		시점에 메모리에 올라와 있어야 하므로, 톰켓이 가동될때 올리자...그러기 위해서는 톰켓이 가동되는 시점을 알아야 하는데 이때 사용하는 
		객체가 바로..리스너이다.. -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:com/sds/model/service-context.xml</param-value>
	</context-param>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 클라이언트가 웹브라우저 일때... -->
	<servlet>
		<servlet-name>browserServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/browser-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>browserServlet</servlet-name>
		<url-pattern>/browser/*</url-pattern>
	</servlet-mapping>


	<!-- 디바이스로 접근할때... -->
	<servlet>
		<servlet-name>deviceServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/device-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>deviceServlet</servlet-name>
		<url-pattern>/device/*</url-pattern>
	</servlet-mapping>


</web-app>






